.container {
  max-width: $default-font-size * 50;
  width: 95%;
  margin: $default-font-size * 2 auto;
  padding: $default-font-size * 2;
}

.replay-view{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: min-content repeat(2, 1fr);
  grid-template-rows: min-content repeat(2, 1fr);
}


