@keyframes announce-self {
  0%{
    background-color: rgba(var(--color-black-rgb), 1);
    transform: translateY(100%) scaleX(1.5);
  }
  33% {
    background-color: rgba(var(--color-black-rgb), 0);
    transform: translateY(-40%) scale(.01);
  }
}

@keyframes announce-self-mobile {
  0%{
    background-color: rgba(var(--color-black-rgb), 1);
    transform: translateX(-100%) scale(.1);
  }
  66% {
    background-color: rgba(var(--color-black-rgb), 0);
    transform: translateX(5%) scale(1);
  }
}

$opacity-highest: .125;
$opacity-lowest: .05;
$scale-highest: 1;
$scale-lowest: 0;
@keyframes logo {
  0%{
    background-repeat: repeat;
    background-size: contain;
    opacity: $opacity-highest;
    background-position: left;
  }
  50%{
    background-position: right;
    opacity: $opacity-lowest;
  }
  100% {
    background-repeat: repeat;
    background-size: contain;
    background-position: left;
    opacity: $opacity-highest;

  }
}

@keyframes matching-item {
  0% {
    background-color: rgba(var(--color-white-rgb), 1);
  }
  100% {
    background-color: rgba(var(--color-primary-3-rgb), 1);
  }
}