@keyframes announce-self {
  0%{
    background-color: rgba(var(--color-black-rgb), 1);
    // border-radius: 100%;
    transform: translateY(100%);
    width: 150%;
  }
  100% {
    background-color: rgba(var(--color-black-rgb), 0);
    // border-radius: 0;
    transform: translateY(0%);
    width: 100%;
  }
}