@keyframes announce-self {
  0%{
    background-color: rgba(var(--color-black-rgb), 1);
    transform: translateY(100%) scaleX(1.5);
  }
  33% {
    background-color: rgba(var(--color-black-rgb), 0);
    transform: translateY(-40%) scale(.01);
  }
}

@keyframes announce-self-mobile {
  0%{
    background-color: rgba(var(--color-black-rgb), 1);
    transform: translateX(-100%) scale(.1);
  }
  66% {
    background-color: rgba(var(--color-black-rgb), 0);
    transform: translateX(5%) scale(1);
  }
}

$opacity-highest: .25;
$opacity-lowest: .05;
$scale-highest: 1;
$scale-lowest: 0;
@keyframes logo {
  0%{
    background-blend-mode: luminosity;
    opacity: $opacity-highest;
    transform: scale($scale-highest);
  }
  2.5% {

    opacity: $opacity-lowest;
    transform: scale($scale-lowest);
  }
  3.75%{
    transform-origin: top left;
    background-blend-mode: multiply;
    opacity: $opacity-highest;
    transform: scale($scale-highest);
  }
  20%{
    opacity: $opacity-highest;
    transform: scale($scale-highest);
  }
  22.5% {
    opacity: $opacity-lowest;
    transform: scale($scale-lowest);
  }
  23.75%{
    transform-origin: top right;
    background-blend-mode: darken;
    opacity: $opacity-highest;
    transform: scale($scale-highest);
  }
  40%{
    opacity: $opacity-highest;
    transform: scale($scale-highest);
  }
  42.5% {
    opacity: $opacity-lowest;
    transform: scale($scale-lowest);
  }
  43.75%{
    transform-origin: bottom right;
    opacity: $opacity-highest;
    transform: scale($scale-highest);
    background-blend-mode: color-dodge;
  }
  60%{
    opacity: $opacity-highest;
    transform: scale($scale-highest);
  }
  62.5% {

    opacity: $opacity-lowest;
    transform: scale($scale-lowest);
  }
  63.75%{
    transform-origin: bottom left;
    opacity: $opacity-highest;
    transform: scale($scale-highest);
  }
  80%{
    background-blend-mode: hard-light;
    opacity: $opacity-highest;
    transform: scale($scale-highest);
  }
  82.5% {

    opacity: $opacity-lowest;
    transform: scale($scale-lowest);
  }
  83.75%{
    transform-origin: center;
    opacity: $opacity-highest;
    transform: scale($scale-highest);
  }
  100%{
    opacity: $opacity-highest;
    transform: scale($scale-highest);
  }
}

@keyframes matching-item {
  0% {
    background-color: rgba(var(--color-white-rgb), 1);
  }
  100% {
    background-color: rgba(var(--color-primary-3-rgb), 1);
  }
}