//media query breakpoints
$super-small-max-width: 25em;
$small-font-max-width: 29.3125em;
$nav-break-max-width: 35.0625em;
$phone-max-width: 40.9375em;
$tab-port-max-width: 52.6875em;
$tab-land-max-width: 58.5625em;
$deal-player-layout-switch-max-width: 84.375em;
$big-desktop-min-width: 120.0625em;
$layout-breakpoint: nav-break;

//font
// $font-family-text: "Roboto", sans-serif;
// $font-family-headers: "Cinzel", sans-serif;
$line-height: 1.5;
$font-family-fancy-bridge: 'New Tegomin', serif;
$font-family-text: 'Open Sans', sans-serif;
$font-family-headers: 'Merriweather', serif;
$default-font-size: 1.6rem;
$semantic-ui-header-default-font-size: 1.71428571rem;
$semantic-ui-text-default-font-size: 1rem;
$scrollbar-box-shadow: inset 0 0 $default-font-size * 0.5
  rgba(var(--color-primary-1-rgb), 0.5);
$scrollbar-track-background: var(--color-primary-1);
$scrollbar-thumb-background: var(--color-primary-4);
$header-height: $default-font-size * 2.5;


$announce-self-animation-duration: 1s;

//login-card
$login-card-logo: '../../bridge-logo.svg';
$logo-opacity-normal: 0.075;
$logo-opacity-hover: .025;
$login-card-box-shadow: 0 0px 24px 8px rgba(var(--color-primary-4-rgb), 0.75);
$login-card-form-box-shadow: 0 8px 16px 0px
  rgba(var(--color-primary-1-rgb), 0.66);
$login-card-border-radius: $default-font-size * 0.5;

//games-list-view
$games-list-outer-box-shadow-left: 0.6rem 0 0.8rem -3px rgba(var(--color-black-rgb), 0.5);
$games-list-outer-box-shadow-bottom: 0 0.6rem 0.8rem -3px rgba(var(--color-black-rgb), 0.5);
$games-list-border: 3px solid var(--color-black);
$games-list-gradient-color-1: var(--color-black-rgb);
$games-list-gradient-color-2: var(--color-primary-3-rgb);
$games-list-gradient-color-3: var(--color-primary-1-rgb);
$games-list-black-gradient-amount: 75%;
$games-list-black-gradient-amount-small: 97%;

//game-detail
$game-detail-border-open: 1px solid rgba(var(--color-black-rgb), 1);
$game-detail-score-border-open: 1px solid rgba(var(--color-primary-4-rgb), 1);

$game-detail-border: 1px solid rgba(var(--color-primary-4-rgb), .25);
$game-detail-border-thick: 2px solid rgba(var(--color-primary-4-rgb), .25);
$game-detail-padding-sides: $default-font-size * 0.5;
$game-detail-box-shadow: 0 4px 8px 0px rgba(var(--color-black-rgb), .5);
$game-detail-background: linear-gradient(
  to right,
  rgba(#{$games-list-gradient-color-1}, 1),
  rgba(#{$games-list-gradient-color-3}, 1),
);

$game-summary-bg-color: rgba(var(--color-primary-1-rgb), 1);
$game-summary-bg-color-full-size: rgba(var(--color-primary-1-rgb), 1);
$game-summary-color: var(--color-primary-4);
$game-summary-border-bottom: 1px solid var(--color-primary-4);
$game-detail-inner-width-full-size: $default-font-size * 33;

//deal-detail
$deal-detail-table-border: 1px solid rgba(var(--color-primary-1-rgb), 1);
$deal-detail-username-color: var(--color-primary-1);

$deal-detail-separator-width: 1px;
$deal-detail-separator-color: rgba(var(--color-primary-1-rgb), 0.5);
$deal-detail-separator: $deal-detail-separator-width solid
  $deal-detail-separator-color;
$deal-detail-separator-dashed: $deal-detail-separator-width dashed
  $deal-detail-separator-color;

//deal-player
$deal-player-layout-breakpoint: tab-port;
$deal-player-table-border: 3px solid var(--color-primary-4);
$deal-player-border-thick: 15px solid var(--color-primary-1);
$deal-player-border: 3px solid var(--color-primary-1);
$deal-player-border-thin: 1px solid var(--color-primary-1);
$deal-player-control-border: 3px solid var(--color-primary-1);
$deal-player-control-border-thin: 1px solid var(--color-primary-1);
$deal-player-canvas-text-opacity: 0.66;
$deal-player-table-background: var(--color-primary-3);

//deals-list
$deals-list-shadow: 0 4px 12px rgba(var(--color-black-rgb), 0.33);


//gradients
$search-linear-gradient-direction: to bottom;
$search-linear-gradient-direction-layout-breakpoint: to right;


//skills
$skills-linear-gradient-original: linear-gradient(
  to left,
  var(--color-primary-1) 0%,
  var(--color-primary-4) 5%,
  var(--color-primary-1) 10%,
  var(--color-primary-1) 100%
);
$skills-linear-gradient-hover: linear-gradient(
  to right,
  var(--color-primary-1),
  var(--color-primary-1)
);

//animation
$animation-duration: 0.5s;
$animation-easing-standard: ease;
$animation-easing-standard-easeInOutBack: cubic-bezier(0.68, -0.6, 0.32, 1.6);
$animation-easing-standard-easeInOutBack-smaller: cubic-bezier(
  0.68,
  -0.2,
  0.32,
  1.2
);
$animation-easing-flash: cubic-bezier(0.68, -2, 0.32, 1);
$animation-easing-modern: cubic-bezier(1, 0, 0, 1);
$animation-navbar: $animation-duration $animation-easing-standard;

$border-radius-full-screen: $default-font-size * 0.5;

:root {
  scroll-behavior: smooth;
  --scrollbar-width: #{$default-font-size * 1};
  --default-font-size: #{$default-font-size};

  //setting media query custom properties
  --small-font-max-width: #{$small-font-max-width};
  --nav-break-max-width: #{$nav-break-max-width};
  --phone-max-width: #{$phone-max-width};
  --tab-port-max-width: #{$tab-port-max-width};
  --tab-land-max-width: #{$tab-land-max-width};
  --big-desktop-min-width: #{$big-desktop-min-width};
  --game-detail-padding-sides: #{$game-detail-padding-sides};

  --search-linear-gradient-direction: #{$search-linear-gradient-direction};
  --games-view-title-gradient-direction: #{$search-linear-gradient-direction-layout-breakpoint};

  --game-detail-height-above-breakpoint: #{$default-font-size * 2};
  --game-detail-height-below-breakpoint: #{$default-font-size * 2};
  --game-detail-summary-height-percentage: 100%;
  --player-labels-display-type: flex;
  --player-names-display-type: grid;
  --deals-list-button-font-size: $default-font-size * 2;
  --game-detail-border: #{$game-detail-border-thick};
}
