.deal-detail {
  display: grid;
  grid-template-columns: 1fr min-content;
  border-top: $game-detail-border;
  // padding: 0 $default-font-size * .5;
  // grid-column-gap: $default-font-size * .75;

  &:last-of-type {
    border-bottom: $game-detail-border;
  }

  &__details {
    display: grid;
    grid-template-rows: repeat(5, min-content);
    // grid-row-gap: $default-font-size * .25;

    & > * {
      padding: 0 0 0 var(--game-detail-padding-sides);
    }

    &-hand {
      display: grid;
      grid-template-columns: 12ch 1fr;
      grid-template-rows: repeat(4, 1fr);
      grid-column-gap: $default-font-size;
      padding-bottom: $default-font-size;
    }

    &-username {
      font-weight: 700;
      grid-row: 1 / -1;
    }

    &-suit {
      // text-align: center;
    }
  }

  &__summary {
    font-size: $default-font-size * 0.625;
    font-weight: 700;
    padding: 0 0 0 $default-font-size * .5;
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    grid-column-gap: $default-font-size * 0.25;
    align-items: center;
    // text-align: center;
    border-bottom: $game-detail-border;

    @include respond($layout-breakpoint) {
      grid-template-columns: auto;
      padding: 0;
      font-size: $default-font-size * .75;

      & > *:nth-child(-n + 2) {
        padding: 0 0 0 $game-detail-padding-sides;
      }

    }

    &-text-container {
      height: 100%;
      display: flex;
      align-items: center;
      font-weight: 100;      
    }

    &-text {
      & span:nth-child(1), & span:nth-child(3), & span:nth-child(6) {
        font-weight: 1000;
      }
    }

    &-buttons {
      display: grid;
      grid-template-columns: repeat(2, max-content);

      @include respond($layout-breakpoint) {
        grid-template-columns: repeat(2, 1fr);

        & button {
          width: 100% !important;
          max-width: $default-font-size * 10;
          border-radius: $default-font-size * 0.5 !important;

          &:nth-of-type(2) {
            justify-self: flex-end;
          }
        }
      }
    }

    &-number {
    }

    &-text {
      // display: grid;
      // grid-template-columns: max-content 1fr;      
    }
  }

  &__tables {
    padding: 0;
    font-size: $default-font-size * 0.66;

    &-header {
      font-weight: 700;
      padding: $default-font-size * .25 var(--game-detail-padding-sides);

      @include respond($layout-breakpoint) {
        padding: $default-font-size * .125 $default-font-size * .5;
      }

      
    }
  }

  &__hands {
    padding: 0;

    &-table {
      display: grid;
      grid-template-columns: min-content repeat(4, 1fr);
      grid-template-rows: min-content repeat(4, 1fr);
      padding: 0 var(--game-detail-padding-sides);
      // grid-column-gap: $default-font-size;
      // justify-items: center;
      // align-items: center;

      @include respond($layout-breakpoint) {
        padding: 0 $default-font-size * .5;
      }

      & > div {
        @include table-cell-styling;
      }

      & > div:nth-child(-n + 5) {
        border-top: $deal-detail-table-border;
      }

      & > div:nth-child(-n + 5) {
        font-weight: 700;
      }

      //top row
      & > div:nth-child(-n + 5) {
        color: $deal-detail-username-color;
      }

      //right cells
      & > div:nth-child(5n + 1) {
        border-left: $deal-detail-table-border;
      }

      //left column of table (suits)

      & > div:nth-child(5n + 1) {
        padding: 0 $default-font-size * 0.25;
        font-weight: 1000;
        // @include respond(phone) {
        //   font-size: $default-font-size * .85;
        // }
        // @include respond(small-font) {
        //   font-size: $default-font-size * .75;
        // }
      }

      & > div:nth-child(n + 11):nth-last-child(n + 6) {
        color: var(--color-red);
      }
    }
  }

  &__bids {
    &-table{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      // grid-template-rows: min-content repeat(4, 1fr);
      padding: 0 var(--game-detail-padding-sides) $default-font-size * .5 var((--game-detail-padding-sides));

      @include respond($layout-breakpoint) {
        padding: 0 $default-font-size * .5 $default-font-size * .5 $default-font-size * .5;
      }

      & > div {
        @include table-cell-styling;
      }

      & > div:nth-child(-n + 4) {
        border-top: $deal-detail-table-border;
        color: $deal-detail-username-color;
        font-weight: 700;
      }

      & > div:nth-child(4n + 1) {
        border-left: $deal-detail-table-border;
      }
    }

    & .deal-detail__tables-header {
      margin-top: $default-font-size * .5;
      border-top: $deal-detail-separator;
    }
  }

  & button {
    // margin-top: $default-font-size * .5 !important;
    width: 100%;
    max-width: 100%;
    margin-right: 0 !important;
    border-radius: 0 !important;
    border-top: $game-summary-border-bottom !important; 
    border-bottom: $game-summary-border-bottom !important;
    
    @include respond($layout-breakpoint) {
      border-top: $deal-detail-separator !important;
      border-bottom: none !important;
    }
  }

  &__view-button,
  &__watch-button {
    // width: $default-font-size * 6 !important;
    border-left: $deal-detail-separator !important; 
  }

  &__view-button {
    width: $default-font-size * 3.4375 !important;
    @include respond($layout-breakpoint) {
      border-left: none !important;
    }
  }
}
