.deals-list {
  display: block;
  padding: 0;
  box-shadow: $deals-list-shadow;

  &__button {
    &-deals {
      width: 100%;
      // position: sticky;
      // top: 13.2rem;
      // left: 0;
      margin: 0;
      border-radius: 0 !important;
      border-bottom: $game-summary-border-bottom !important;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition:
        opacity $animation-duration $animation-easing-standard-easeInOutBack-smaller,
      ;
      font-size: var(--deals-list-button-font-size) !important;

      color: rgba(var(--color-black-rgb), 1) !important;

      &:hover {
        background-color: rgba(var(--color-primary-4-rgb), .75) !important;
        opacity: .9;
        // border-bottom: $deal-detail-separator !important; 
      }
    }

    &-details {
      width: $default-font-size * 9.25;
      border-left: $deal-detail-separator !important; 
      border-radius: 0 !important;

      @include respond(tab-port) {
        width: 14.9rem;
      }

      @include respond($layout-breakpoint) {
        border-left: none !important;
        width: 100%;
      }


    }
  }

  &__summary {
    // padding: var(--game-detail-padding-sides);
    display: grid;
    grid-template-columns: 1fr max-content;
    padding: 0;
    align-items: center;
    border-top: $deal-detail-separator !important; 
    border-bottom: $deal-detail-separator !important; 

    @include respond($layout-breakpoint ) {
      grid-template-columns: auto;
      grid-template-rows: 1fr 1fr;
    }
  }

  &__deal-count {
    padding: 0 var(--game-detail-padding-sides);
    font-weight: 700;
    text-align: center;
    
    @include respond($layout-breakpoint) {
      width: max-content;
    }
  }
}
