
.deal-detail {
  display: grid;
  grid-template-columns: 1fr min-content;
  // padding: 0 $default-font-size * .5;
  border-top: 1px solid rgba(var(--color-primary-1-rgb), .5);
  // grid-column-gap: $default-font-size * .75;



  &__details{
    display: grid;
    grid-template-rows: repeat(5, min-content);
    // grid-row-gap: $default-font-size * .25;

    & > * {
      padding: 0 0 0 $game-detail-padding-sides;
    }

    &-hand{
      display: grid;
      grid-template-columns: 12ch 1fr;
      grid-template-rows: repeat(4, 1fr);
      grid-column-gap: $default-font-size;
      padding-bottom: $default-font-size;
    }

    &-username {
      font-weight: 700;
      grid-row: 1 / -1;
    }

    &-suit {
      // text-align: center;
    }

  }

  &__summary {
    font-size: $default-font-size * .625;
    font-weight: 700;
    padding: $game-detail-padding-sides * .5 0 $game-detail-padding-sides * .5 $game-detail-padding-sides;
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    grid-column-gap: $game-detail-padding-sides;
    align-items: center;
    // text-align: center;

    &-number {
      font-weight: 100;
      line-height: 0;
      font-size: $default-font-size * 1;
    }
  }

  &__hands {
    padding: 0;

    &-table {
      display: grid;
      grid-template-columns: min-content repeat(4, 1fr);
      grid-template-rows: min-content repeat(4, 1fr);
      // grid-column-gap: $default-font-size;
      // justify-items: center;
      // align-items: center;
    }
    
    // This is the suit html entity column
    &-column-1 {
      & > div:nth-of-type(2n+ 2) {
        color: var(--color-black);
      }
      & > div:nth-of-type(2n+ 3) {
        color: var(--color-red);
      }
      & > div {
        padding: 0 $default-font-size * .25;

        
      }

      @include respond(phone) {
        font-size: $default-font-size * .85;
      }
      @include respond(small-font) {
        font-size: $default-font-size * .75;
      }
    } 
    
    // bolding usernames
    &-column-2, &-column-3, &-column-4, &-column-5 {
      & > div:nth-of-type(1) {
        font-weight: 700;
      }

      & > div {
        padding: 0 $default-font-size * .5;

        @include respond(small-font) {
          padding: 0 $default-font-size * .25;
        }
      }

      @include respond(phone) {
        font-size: $default-font-size * .75;
      }
      @include respond(small-font) {
        font-size: $default-font-size * .5;

      }
    }

    //add table borders
    &-column-1, &-column-2, &-column-3, &-column-4, &-column-5 {
      // border-
      & > div {
        border-bottom: $deal-detail-table-border;
        border-left: $deal-detail-table-border;
        line-break: auto;
      }

      & > div:nth-of-type(1) {
        border-top: $deal-detail-table-border;
      }

     
    }

    &-column-5 {
      & > div {
        border-right: $deal-detail-table-border;
      }
    }

  }

  & button {
    // margin-top: $default-font-size * .5 !important;
    width: 100%;
    margin-right: 0 !important;
    border-radius: 0 !important;
    // margin: $default-font-size * .5 0 $default-font-size 0;
  }
}