.deal-player {
  font-size: $default-font-size;
  background-color: var(--color-white);
  position: absolute;
  top: 0px;
  left: 0;
  height: 100vh;
  width: 100vw;
  // transform: translate(.5vw, .5vh);
  opacity: 0;
  visibility: hidden;
  z-index: 10000;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  grid-template-columns: 1fr max-content 1fr;
  transition:
    opacity $animation-duration * 1 $animation-easing-standard,
  ;

  &__summary {
    display: grid;
    // grid-template-columns: 1fr 1fr max-content;
    grid-template-columns: repeat(auto-fill, minmax(5rem, 33.333333vw))  min-content;
    grid-column: 1 /-1;

    &-details{

    }
    &-teams{

    }
    &-close{
      cursor: pointer;
      color: var(--color-primary-1);
      font-size: $default-font-size * 4;
      padding: $default-font-size * 2 $default-font-size;
      user-select: none;

      &:hover {
        color: rgba(var(--color-primary-1-rgb), .5);
      }
    }
  }

  &__played {
    font-size: $default-font-size * 3;
    width: 66.666%;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include respond(super-small) {
      left: 50vw;
    }

    & > * {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: $default-font-size $default-font-size * 2;
    }

    &-north {
      grid-column: 2 / span 2;
      grid-row: 1 / span 2;
    }
    &-east {
      grid-column: 3 / span 2;
      grid-row: 3 / span 2;
    }
    &-south {
      grid-column: 2 / span 2;
      grid-row: 5 / span 2;
    }
    &-west {
      grid-column: 1 / span 2;
      grid-row: 3 / span 2;
    }
  }

  &__canvas {
    position: relative;
    display: flex;
    justify-content: center;
    grid-column: 2/ span 1;
    grid-row: 2/-1;
    // width: 40vh;

    @include respond(super-small) {
      // width: 37vh;
      grid-column: 1 / -1;
      justify-content: flex-start;
    }

    &[resize] {
      width: 100%;
      height: 100%;
    }

    &-element{
      position: relative;
      z-index: 100000;
      border: 1px solid var(--color-primary-1);
      border-radius: .8rem;
      overflow: hidden;

      // margin: 0 auto;
      // max-width: 75vh;

      @include respond(super-small) {
        width: 100vw !important;
      }
    }
  }
  
  &__controls{
    cursor: pointer;
    max-width: $default-font-size * 39;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    margin: 0 auto;
    grid-column: 2 / span 1;

    & > * {
      fill: var(--color-primary-1);
      height: $default-font-size * 3.5;
      width: $default-font-size * 3.5;

      &:hover {
        fill: var(--color-primary-2);
      }
    }
  }
}