.form{ 
  &__control
  &__field {
    display: flex;
    flex-direction: column;
    margin-bottom: $default-font-size * 2;
  }
  

}

.ng-touched.ng-dirty.ng-valid:is(input, select) {
  border: 1px solid rgba(var(--color-primary-1-rgb),.5) !important;
}

.ng-touched.ng-dirty.ng-invalid:is(input, select) {
  border: 1px solid rgba(var(--color-red-light-rgb), 1) !important;
}
