.form{ 
  &__control
  &__field {
    display: flex;
    flex-direction: column;
    margin-bottom: $default-font-size * 2;
  }
  

}

input.ng-touched.ng-dirty.ng-valid {
  border: 1px solid green !important;
}

input.ng-touched.ng-dirty.ng-invalid {
  border: 1px solid red !important;
}
