.games-view {
  background-color: rgba(var(--color-primary-4-rgb), .5);
  color: var(--color-primary-1);
  width: 100%;
  grid-column: 2 / -1;
  grid-row: 2 / -1;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  @include respond($layout-breakpoint) {
    grid-column: 1/-1;
    grid-row: 3/-1;
  }

  &__title{
    margin: 0;
    padding: $default-font-size * .5 $default-font-size;
    text-align: center;
    width: 100%;
    color: var(--color-primary-4);
    border-bottom: $games-list-border;
    background-image: linear-gradient(
      to right,
      rgba(#{$games-list-gradient-color-1}, 1),
      rgba(#{$games-list-gradient-color-1}, 1) $games-list-black-gradient-amount,
      rgba(#{$games-list-gradient-color-2}, 1),
    );
    box-shadow: $games-list-outer-box-shadow-bottom;


    & span {
      color: var(--color-primary-3);
    }
  }
}
