.games-view {
  background-image: linear-gradient(to right, var(--color-primary-1), var(--color-black));
  color: var(--color-primary-1);
  width: 100%;
  grid-column: 2 / -1;
  grid-row: 2 / -1;
  overflow-y: auto;
  overflow-x: hidden;
  display: grid;
  grid-template-rows: min-content max-content max-content;
  justify-items: center;

  @include respond($layout-breakpoint) {
    grid-column: 1/-1;
    grid-row: 3/-1;
  }

  &__title{
    margin: 0;
    padding: $default-font-size * .5 $default-font-size;
    text-align: center;
    width: 100%;
    color: var(--color-primary-4);
    // border-bottom: $games-list-border;
    background-image: $games-view-background-image;
    box-shadow: $games-list-outer-box-shadow-bottom;

    @include respond($layout-breakpoint) {
      --games-view-title-gradient-direction: #{$search-linear-gradient-direction};
      padding: 0 $default-font-size $default-font-size * .5 $default-font-size;
    }
  }

  &__header {
    width: 100%;
    display: grid;
    justify-items: center;
  }
}
