.games-view {
  background-color: rgba(var(--color-primary-4-rgb), .5);
  color: var(--color-primary-1);
  width: 100%;
  grid-column: 2 / -1;
  grid-row: 2 / -1;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  @include respond($layout-breakpoint) {
    grid-column: 1/-1;
    grid-row: 3/-1;
  }

  &__title{
    margin: 0;
    padding: $default-font-size * .5 $default-font-size;
    text-align: center;
    width: 100%;
    border-bottom: $deal-player-control-border;

    & span {
      color: var(--color-primary-2);
    }
  }
}
