
.game-detail{
  border: $game-detail-border;
  border-radius: 3px;
  // padding: 00 0 0;
  box-shadow: $scrollbar-box-shadow;
  overflow: hidden;
  // height: $default-font-size * 5.9375;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  position: relative;

  &::-webkit-scrollbar-thumb, &::-webkit-scrollbar-track, &::-webkit-scrollbar-track-piece {
    border-radius: $default-font-size * .5 !important;
  }

  & > * {
    padding: 0 $game-detail-padding-sides;
  }

  &__summary {

    // &.sticky {
      width: 100%;
      position: sticky;
      top: 0;
      padding: $game-detail-padding-sides;
      background-color: $game-summary-bg-color;
      color: $game-summary-color;
      // backdrop-filter: blur(10px);
      border-bottom: $game-summary-border-bottom;
    // }
  }

  &__score {
    // position: sticky;
    // top: 8.6rem;
    // margin: $game-detail-padding-sides 0;
    background-color: $game-summary-bg-color;
    color: $game-summary-color;
    // padding-bottom: $game-detail-padding-sides;
    border-bottom: $game-summary-border-bottom;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__players {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;

    
    &-ew, &-ns {
      display:  grid;

      & span:nth-child(2) {
        line-height: $default-font-size * .5;
      }
    }

    &-ew {
      text-align: right;
    }


    &-labels {
      display: flex;
      justify-content: space-between;
      margin: $game-detail-padding-sides 0 0 0;
      text-decoration: underline;
      font-weight: 1000;

      
    }

    @include respond(small-font) {
      font-size: $default-font-size * .75;
    }
  }  

  &__vs {
    font-size: $default-font-size * 2;
    font-weight: 700;
    align-self: center;  
    color: var(--color-primary-3);
  }
  

  &__header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;;
    align-items: center;

    & > * {
      margin: 0;
    }

    &-room {
      text-align: left;
    }

    &-date {
      text-align: right;
    }
  }

  &.full-size {
    font-size: $default-font-size * .75;
    border: none;
    position: absolute;
    top: 0%;
    left: 50%;
    width: 100%;
    max-height: 100vh;
    height: 100vh;
    overflow: auto;
    z-index: 10000;
    transform: translate(-50%, 0%);
    background: rgba(var( --color-white-rgb), .85);
    backdrop-filter: blur(10px);
    box-shadow: none;


    & > * {
      max-width: $game-detail-inner-width-full-size;
      width: 97.5%;
      margin: 0 auto;
      border-left: $game-detail-border;
      border-right: $game-detail-border;
      // box-shadow: $scrollbar-box-shadow;
     

      &:nth-last-child(n + 2) {
        padding: $default-font-size $default-font-size * 2;

        @include respond(phone) {
          padding: $game-detail-padding-sides;
        }
      }
    }

    & > *:nth-child(n + 3) {
      background: rgba(var(--color-white-rgb), 1);
    }

    & .game-detail {
      &__vs {
        font-size: $default-font-size * 4;
        align-self: auto;
      }
      &__header-room {
        font-size: $default-font-size;
      }
      &__header-date {
        font-size: $default-font-size;
      }
    }

    & .deals-list__button {
      &-deals {
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        font-size: $default-font-size * .875;
      }
    }

    & .game-detail__players-labels{
      &:nth-child(2) {
        margin: .8rem 0;
      }
    }
  }

  & button {
    margin: 0 !important;
  }
}