$game-summary-bg-color: rgba(var(--color-primary-1-rgb), .975);
$game-summary-color: var(--color-primary-4);
$game-summary-border-bottom: 1px solid var(--color-primary-3);

.game-detail{
  border: $default-font-size * .1 solid var(--color-primary-1);
  border-radius: 6px;
  // padding: 00 0 0;
  box-shadow: $scrollbar-box-shadow;
  overflow: hidden;
  // height: $default-font-size * 5.9375;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  &::-webkit-scrollbar-thumb, &::-webkit-scrollbar-track, &::-webkit-scrollbar-track-piece {
    border-radius: $default-font-size * .5 !important;
  }

  & > * {
    padding: 0 $game-detail-padding-sides;
  }

  &__summary {

    // &.sticky {
      width: 100%;
      position: sticky;
      top: 0;
      padding: $game-detail-padding-sides;
      background-color: $game-summary-bg-color;
      color: $game-summary-color;
      // backdrop-filter: blur(10px);
      border-bottom: $game-summary-border-bottom;
    // }
  }

  &__score {
    // margin: $game-detail-padding-sides 0;
    background-color: $game-summary-bg-color;
    color: $game-summary-color;
    // padding-bottom: $game-detail-padding-sides;
    border-bottom: $game-summary-border-bottom;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__players {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    margin: $game-detail-padding-sides 0 0 0;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;

    
    &-ew, &-ns {
      display:  grid;
    }

    &-ew {
      text-align: right;
    }


    @include respond(small-font) {
      font-size: $default-font-size * .75;
    }
  }  

  &__vs {
    font-size: $default-font-size * 2;
    font-weight: 700;
    align-self: center;  
    color: var(--color-primary-3);
  }
  

  &__header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;;
    align-items: center;

    & > * {
      margin: 0;
    }

    &-room {
      text-align: left;
    }

    &-date {
      text-align: right;
    }
  }

  &.full-size {
    overflow-y: scroll;
    height: 50vh;
  }

  & button {
    margin: 0 !important;
  }
}