.navbar {
  grid-column: 1 / -1;
  grid-row: 1 / span 1;

  background-color: rgba(var(--color-primary-3-rgb), .5);
  min-height: $default-font-size * 3;
  border-bottom: $deal-player-control-border
}