.login-card {
  width: 97.5%;
  max-width: $default-font-size * 20;
  padding: $default-font-size * 1;
  border: $default-font-size * .1 solid rgba(var(--color-primary-4-rgb), 1);
  border-radius: $login-card-border-radius;
  box-shadow: $login-card-box-shadow;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  & *:not(.non-existant-class, button) {
    color: var(--color-primary-1) !important;

    &:not(label, form, .login-card__buttons, .login-card__email, .search) {
      margin-bottom: $default-font-size * .5 !important;
    }
  }

  &__title {
    margin-bottom: $default-font-size * 1.2 !important;
    border-bottom: 1px solid rgba(var(--color-primary-1-rgb), .5) !important;
    text-align: center;
    letter-spacing: 0.094rem;
  }

  &__buttons{ 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: $default-font-size;
    margin-bottom: 0 !important;
  }

  &__message-area > :nth-child(1):not(.red.message) {
    margin: $default-font-size * 1.25 0 !important;
  }

  &:hover .logo {
    opacity: $logo-opacity-hover;
    background-image: url($login-card-logo), linear-gradient(to bottom, rgba(var(--color-primary-4-rgb), 1), rgba(var(--color-primary-3-rgb), 1));
  } 

  & .search {
    background-image: linear-gradient(
      to bottom right,
      rgba(var(--color-primary-3-rgb), 1),
      rgba(var(--color-primary-1-rgb), .1)
    );
    padding: $default-font-size;
    // background-color: rgba(var(--color-primary-4-rgb), .75);
    border-radius: $login-card-border-radius;
    box-shadow: 0 0rem 3.2rem 1rem rgba(var(--color-primary-1-rgb), 0.25);

    @include respond($layout-breakpoint) {
      border-bottom: none !important;
    }

    & button {
    
      &:nth-of-type(1) {
        margin-bottom: 0 !important;
      }
    }

    & form {
      & > .field:nth-of-type(1) {
      
        @include respond($layout-breakpoint) {
          display: block;
        }
      }

      & > div:last-of-type {
        // display: block;
      }
    }

    & .field:nth-of-type(2) label {
      margin-top: 0 !important;
    }

    // & .header {
    //   font-size: $default-font-size * 1 !important;
    // }
  }
}