
/* global reset;  box-sizing is set on body and set to inherit on all other elements */
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
html, body {
	/* 62.5% of the browser supplied font-size is usually 16px */
	/* bad practice to declarer px font-size here as it removes users ability to set font-size in browser */
	font-size: 100% !important;
	@include respond(big-desktop) {
		font-size: 125% !important;
	}
	@include respond(tab-land) {
		// font-size: 56.25%;
	}
	@include respond(tab-port) {
		// font-size: 43.75%;
		font-size: 87.5% !important;
	}
	@include respond(phone) {
	//     font-size: 37.5%;
		font-size: 81.25% !important;
	}
	@include respond(nav-break) {
		// font-size: 31.25%;
		// font-size: 62.5% !important;
	}
	@include respond(small-font) {
		font-size: 75% !important;
	}
	box-sizing: border-box;

	//order to add media queries:
	//base + typography > general + grid > page layout > components
}
/* everything related to font goes in body */
body {
	font-weight: 400;
	// line-height: $line-height;
	// font-family: $font-family-headers;
	// color: var(--color-primary-4);
	// overflow-x: hidden;
}

//Style selected text
::selection {
	background-color: var(--color-primary-1);
	color: var(--color-primary-4);
}
