.ui.red.message {
  background-color: rgba(var(--color-red-rgb), .25) !important;
  color: var(--color-red) !important;
  box-shadow: 0 0 0 1px var(--color-red) inset, 0 0 0 0 transparent !important;

  & * {
    color: var(--color-red) !important;
  }

}

.search .ui.red.message {
  background-color: rgba(var(--color-primary-4-rgb), 1) !important;
  margin-top: $default-font-size !important;

  @include respond($layout-breakpoint) {
    margin-top: $default-font-size * .5 !important;
  }
}

.login-card {
  .search .ui.red.message {
    @include respond($layout-breakpoint) {
      margin-top: -$default-font-size * .5 !important;
    }
  }
}


